#info {
    padding: 5px;
}


#info .ext-attr-group-heading {
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 2px solid #525CEB;

}

#info div {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#info div .ext-attr-group-content {
    display: flex;
    gap: 10px;
}

#info div .ext-attr-group-content .border-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #DEE2E6;

}

#info span {
    font-size: 16px;
    font-weight: 700;
}

#info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}